@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    padding: 0;
    color: white;
}

.header{
	width: 100%;
	height: auto;
	background-color:#004377;
}

.header h2{
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
	padding: 5%;
	text-align: center;
	margin: 0;
	font-size: 2.5vh;
	
}

.cars-content h2{
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	color:#004377;
	font-size: 4vw;
	margin-top: 0;
}

.cars-content h1{
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	color:#004377;
	font-size: 7vw;
	margin-bottom: 0;
	
}

.cars-left{
	width: 50%;
	float: left;
	padding-top: 10%;
	
}

.cars-left img{
	width: 100%;
	max-width: 500px;
	padding-left: 10px;
}

.cars-right{
	width: 50%;
	float: right;
}


.space{
	height: 10px;
}



.btn {
    text-align: center;
    cursor: pointer;
	width: 100px;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn-three {
    color: white;
    position: relative;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
	background-color: #004377;
	    font-size: 2vh;
    font: icon;
	margin-left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;	
}

button h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}

.more{
    color: white;
    position: relative;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
	background-color: #004377;
    font-size: 2vh;
    font: icon;
	margin-left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	margin-top: 5%;
	
}

.more-cars{
	width: 100%;
    height: 100vh;
    display: grid;
    display: none;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white;
	top: 0;
	left: 0;
	display:none;
}


@media(width: 800px){
    
    .header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 3.5vh;
}
    
    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 2vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}
    
    
.cars-left img {
    width: 100%;
    max-width: 300px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    height: 100px;
    background-color: #004377;
}
    
.space {
    height: 350px;
}
    

.btn {
    width: 200px;
    height: 50px;
    margin-top: 15%;
    padding: 5px;
}

.btn p{
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
        
    }    
    
}


/*
@media(min-width: 768px) {

	.btn-three {
		line-height: 50px;
		font:normal;
	}
	.btn{
		width: 200px;
		font-size: x-large;
	}
	
}
*/

@media(width: 1024px) {
    
.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 3.5vh;
}
    
    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 2vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}  
    
.cars-left img {
    width: 100%;
    max-width: 350px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    background-color: #004377;
}
    
.space {
    height: 450px;
}   

.btn {
    width: 200px;
    height: 50px;
    margin-top: 15%;
    padding: 5px;
}

.btn p {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
} 
    
.responsive {
    width: 100%;
    max-width: 100px;
    height: auto;
}  
    
/*
.btn-three {
     line-height: 1px; 
}
*/
    
.cars-content h2 {
    font-size: 4vh;
}

}


@media(width:1280px){
    
 .header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 3.5vh;
}
    
    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 2vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}  
    
.cars-left img {
    width: 100%;
    max-width: 500px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    background-color: #004377;
}
    
.space {
    height: 600px;
}   

.btn {
    width: 300px;
    height: 100px;
    margin-top: 15%;
    padding: 5px;
}

.btn p {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
} 
    
.responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
}
    
/*
.btn-three {
     line-height: 1px; 
}
*/
    
.cars-content h2 {
    font-size: 3vh;
    padding: 20px 0px 0px 0px;
}
    

}

@media(width: 1366px){
    
.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 4.5vh;
}

    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 4vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}  
    
.cars-left img {
    width: 100%;
    max-width: 550px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    background-color: #004377;
}
    
.space {
    height: 750px;
}   

.btn {
    width: 300px;
    height: 100px;
    margin-top: 15%;
    padding: 5px;
}

.btn p {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
} 
    
.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}
    
/*
.btn-three {
     line-height: 1px; 
}
*/
    
.cars-content h2 {
    font-size: 4vh;
    padding: 20px 0px 0px 0px;
} 
    
    
}


@media(width:1280px){
    
 .header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 3.5vh;
}
    
    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 2vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}  
    
.cars-left img {
    width: 100%;
    max-width: 500px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    background-color: #004377;
}
    
.space {
    height: 600px;
}   

.btn {
    width: 300px;
    height: 100px;
    margin-top: 15%;
    padding: 5px;
}

.btn p {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
} 
    
.responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
}
    
/*
.btn-three {
     line-height: 1px; 
}
*/
    
.cars-content h2 {
    font-size: 3vh;
    padding: 20px 0px 0px 0px;
}  
}

@media(width: 1600px){
    
.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 3.5vh;
}

    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 4vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}  
    
.cars-left img {
    width: 100%;
    max-width: 650px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    background-color: #004377;
}
    
.space {
    height: 800px;
}   

.btn {
    width: 300px;
    height: 100px;
    margin-top: 15%;
    padding: 5px;
}

.btn p {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
} 
    
.responsive {
    width: 100%;
    max-width: 250px;
    height: auto;
}
    
/*
.btn-three {
     line-height: 1px; 
}
*/
    
.cars-content h2 {
    font-size: 4vh;
    padding: 20px 0px 0px 0px;
} 
    
}

@media(width: 1920px) {
/*
	.cars-content h1{
		font-size: 5vh;
	}
	.cars-content h2{
		font-size: 3vh;
	}
	.cars-left img{
		max-width: 600px;
		
	}
	.cars-left{
		padding-top: 5%;
	}
	.cars-right{
		padding-top: 3%;
	}
	.btn-three {
		line-height: 60px;
		
	}
*/
    
.logo{
    display: block;    
    }
    
.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    text-align: center;
    margin: 0;
    font-size: 3vh;
}

    
.cars-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 3vw;
    margin-bottom: 0;
}
    
    
.cars-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #004377;
    font-size: 2vw;
    margin-top: 0;
}
    

.cars-left {
    width: 50%;
    float: left;
}  
    
.cars-left img {
    width: 100%;
    max-width: 650px;
    padding-left: 0;
}
    
.header {
    width: 100%;
    background-color: #004377;
}
    
.space {
    height: 900px;
}   

.btn {
    width: 400px;
    height: 150px;
    margin-top: 15%;
    padding: 5px;
}

.btn p {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
} 
    
.responsive {
    width: 100%;
    max-width: 250px;
    height: auto;
}
    
/*
.btn-three {
     line-height: 1px; 
}
*/
    
.cars-content h2 {
    font-size: 4vh;
    padding: 20px 0px 0px 0px;
} 
	
}

